* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

body {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

/* COMMON */

.border-right {
  border-right: 1px solid lightgrey;
}

.container-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.center-items {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-space-between {
  justify-content: space-between;
}

.center-text {
  text-align: center;
}

/* COLOURS */

.black-text {
  color:black;
}

.grey-text {
  color:#a4aab0;
}

.input-bar-colour {
 background-color: #f3eeea;
}

.grey-bars {
  background-color: #eaeaea;
}

.icon-colour {
  color: #6c7689;
}

.icon-colour-light {
  color: #b2b1b1;
}

/* TYPOGRAPHY */

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-800 {
  font-weight: 800;
}

.decoration-none {
  text-decoration: none;
}

/* BACKGROUND */

.root-container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #009688 15vh,
    #dadbd3 15vh,
    #d2dbdc 100%);
}

/* APP SECTION */

#boolzApp {
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 80%;
  min-width: 1000px;
  overflow: auto;
  z-index: 1;
}

#left-side {
  width: 35%;
  height: 100%;
  float:left;
}

#main-section {
  width: 65%;
  height: 100%;
  float: left;
}

.top-bar, .input-message, .user-status {
  width: 100%;
  min-height: 70px;
}

.messages-field {
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
}


.notification-status {
  min-height: 90px;
  background-color: #8edafc;
}

.notification-status p {
  font-size: 1.0rem;
  margin-bottom: 5px;
}

.notification-status a {
  color:#474747;
  opacity: 0.8;
}

.notification-bell {
  position: relative;
  width:60px;
  height: 60px;
  background-color: #f2fbff;
  border-radius: 50%;
  margin: 0 10px 0 25px;
}

.notification-bell i {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  color: #8edafc;
}

.search-contacts {
  width:100%;
  min-height: 50px;
  background-color: #fafafa;
}

.search-contacts input {
  width: 85%;
  height: 35px;
  border: none;
  padding: 0 20px;
  font-size: 0.9rem;
  color: lightgrey;
}

.search-icon {
  height:35px;
  width:10%;
  background-color: #fff;
  position: relative;
}

.search-icon i {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  padding-left: 10px;
}

.contacts-list {
  background-color: #ffffff;
  flex-basis: calc(100% - 210px);
  min-height: 100px;
  overflow-y: auto;
}

.user-info {
  margin-left: 10px;
}

.user-info img {
  width:50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.input-message > input {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  color: grey;
}

.input-message i {
  font-size: 1.5rem;
}

.contact-avatar img {
  width:50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.contact-status-info {
  margin-left: 10px;
}

.contact-avatar h4 {
  font-size: 1rem;
  margin-bottom: 3px;
}

.contact-avatar p {
  font-size: 0.7rem;
}

.contact-options, .user-options {
  margin-right: 20px;
}

.contact-options i, .user-options i {
  margin: 0 8px;
  font-size: 1.3rem
}

.contacts-list img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.contacts-list span {
  font-size: 1.1rem;
  margin: 0 0 40px 25px;
}

.contacts-list li {
  height: 85px;
  padding: 20px;
  border-bottom: 2px solid #fafafa;
}
.contacts-list li:last-child {
  border-bottom: none;
}
