<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE.JS -->
    <script src="libs/vue.js" charset="utf-8"></script>
    <title>BoolzApp</title>
  </head>
  <body>

    <!-- ROOT CONTAINER -->
    <div class="root-container">
      <!-- VUE OBJECT CONTAINER -->
      <div id="boolzApp">
        <!-- LEFT-SIDE APP - NOTIFICATIONS AND CONTACTS -->
        <nav id="left-side" class="container-flex flex-column">

          <!-- User status -->
          <div class="user-status grey-bars border-right container-flex flex-row center-items justify-space-between">
            <div class="user-info container-flex flex-row center-items">
              <a href="#"><img v-bind:src="mainUser.avatar" alt=""></a>
              <h4 class="black-text">{{mainUser.name}}</h4>
            </div>
            <div class="user-options">
              <a href="#"><i class="fas fa-circle-notch icon-colour-light"></i></a>
              <a href="#"><i class="fas fa-comment-alt icon-colour-light"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v icon-colour-light"></i></a>
            </div>
          </div>

          <!-- Notifications status -->
          <div class="notification-status container-flex flex-row center-items">
            <div class="notification-bell">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div>
              <p class="font-w-700 black-text">Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a>
            </div>
          </div>

          <!-- Search contacts field -->
          <div class="search-contacts border-right container-flex flex-row justify-center center-items">
            <div class="search-icon">
              <i class="fas fa-search icon-colour-light"></i>
            </div>
            <input type="text" class="font-w-600 grey-text" v-model="search" placeholder="Cerca o inizia un nuova chat">
          </div>

          <!-- List of chats -->
          <div class="contacts-list border-right">
            <ul>
              <li v-for="(element, index) in filterContacts" :key="'chat-' + index" v-bind:class="{ 'contact-selected': activeChat == element.chatId}"  @click="(activate(element))" class="container-flex flex-row center-items">
                <a href="#"><img v-bind:src="element.avatar" alt=""></a><span class="font-w-600 black-text">{{element.name}}</span>
              </li>
            </ul>
          </div>
        </nav>

        <!-- MAIN SECTION - CHAT WINDOW -->
        <main id="main-section">

          <!-- Top bar - Contact information -->
          <div class="top-bar grey-bars container-flex flex-row center-items justify-space-between">
            <div class="contact-avatar container-flex flex-row center-items">
              <a href=""><img v-bind:src="contacts[0].avatar" alt="avatar"></a>
              <div class="contact-status-info">
                <h4 class="black-text">{{contacts[0].name}}</h4>
                <p class="grey-text font-w-600">Ultimo accesso oggi alle {{contacts[0].lastAccess}}</p>
              </div>
            </div>
            <div class="contact-options">
              <a href="#"><i class="fas fa-search icon-colour-light"></i></a>
              <a href="#"><i class="fas fa-paperclip icon-colour-light"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v icon-colour-light"></i></a>
            </div>
          </div>

          <!-- Chat window -->
          <div class="messages-field">
          </div>

          <!-- Input text field -->
          <div class="input-message input-bar-colour container-flex flex-row justify-space-evenly center-items">
            <a href="#"><i class="far fa-smile icon-colour"></i></a>
            <input v-model="textInput" type="text" name="" value="" placeholder="Scrivi un messsaggio">
            <div class="send-icons">
              <a v-if="textInput !== ''" href="#"><i class="fas fa-paper-plane icon-colour"></i></a>
              <a v-else href="#"><i class="fas fa-microphone icon-colour"></i></a>
            </div>

          </div>

        </main>
      </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
